<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Sharing</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <style>
        form {
            margin: 10px 0;
        }
        .truncate-one-line {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-height: 1.2em;
            height: 1.2em;
            overflow: hidden;
        }
        .truncate-four-lines {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            line-height: 1.2em;
            height: 4.7em;
            overflow: hidden;
        }
        #url-list .thumbnail img {
            height: 250px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Social Sharing</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <form class="navbar-form navbar-left" method="get" action="{{ app.url('searchUser') }}">
                <div class="form-group">
                    <input type="text" required="required" class="form-control" id="username" placeholder="Find User" name="username">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            {% if app.user %}
                <div class="navbar-right">
                    <p class="navbar-text">Signed in as {{ app.user.username }}</p>
                    <ul class="nav navbar-nav">
                        <li><a href="{{ app.logout_path }}" role="button">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ app.login_paths.google }}" role="button">Login</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
<script src="/assets/js/jquery-3.1.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
