{% extends '/base.html.twig' %}

{% block body %}
    <div>
        <div class="jumbotron">
            <h1>Welcome to Social.dev</h1>
            {% if pageViews == 1 %}
                <p>Why don't you join us so you can start sharing your awesome Links!</p>
            {% else %}
                <p>You've looked at this page {{ pageViews }} times. Why don't you join us so you can start sharing your awesome Links!</p>
            {% endif %}
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>
        </div>
    </div>
{% endblock %}
