{% extends '/base.html.twig' %}

{% block body %}
    <h1>Search for Users</h1>
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ error }}.
        </div>
    {% endif %}
    {% if users|length %}
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item"><a href="{{ app.url('public-user', {'username' : user.username} ) }}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
